{% extends 'base.html' %}
{% load filetransfers %}
{% block title %}Upload file to Blobstore{% endblock %}

{% block content %}
<h1>Upload</h1>
<form action="{{ upload_url }}" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  {% render_upload_data upload_data %}
  <table>{{ form }}</table>
  <input type="submit" value="Upload" />
</form>

<h1>Files</h1>
<ul>
  {% for file in files %}
    <li>
      {% url upload.views.download_handler pk=file.pk as download_url %}
      <a href="{% firstof file.file|public_download_url download_url %}">{{ file.filename }}</a>
      ({{ file.file.size|filesizeformat }})
      <form action="{% url upload.views.delete_handler pk=file.pk %}" style="display:inline">
        <input type="submit" value="Delete" />
      </form>
    </li>
  {% endfor %}
</ul>
{% endblock %}
